<div id="products-list" class="products-list">
  <div id="loadingIndicator" *ngIf="isLoading">Loading...</div>
  <div class="btn-group btn-group-justified">Sort By:<button class="btn btn-secondary" (click)="setSortMode(sortMode['id'])">Id</button>
    <button class="btn btn-secondary" (click)="setSortMode(sortMode['size'])">Size</button>
    <button class="btn btn-secondary" (click)="setSortMode(sortMode['price'])">Price</button>
  </div>
  <div class="row itemsBlock">
    <div *ngFor="let product of products let i=index" class="col-md-4 col-sm-6 col-12">
      <app-product *ngIf="i==0 || i%adFrequency!=0" [product]="product"></app-product>
      <app-ad *ngIf="i!=0 && i%adFrequency==0"></app-ad>
    </div>
  </div>
  <div *ngIf="endReached">CONGRATULATIONS!  You reached the end. {{products.length}} products viewed.</div>
</div>